{% extends 'template.html.twig' %}

{% block title %}Edit Matiere{% endblock %}

{% block body %}
    <h1>Edit Matiere</h1>

    {{ include('gestion_module/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('gestion_module_index') }}" class="btn btn-success">retourner à la liste</a>

    {{ include('gestion_module/_delete_form.html.twig') }}
{% endblock %}
